@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
* { font-family: 'Noto Sans KR', sans-serif; }

body {
    /* background-color: rgb(33, 32, 41); */
}

a {
    color: #2C2C2C;
}

.head_all {
    width: 100%;
    padding: 1% 10%;
    
    background-color: #fff;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}

/* 로고 */
.head_all .navbar_logo {
    width: 10%;
}
.head_all .navbar_logo img {
    max-width: 60%;
}

/* 메뉴 */
.pc_menu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.pc_dropdown {
    width: 70%;
}

/* 메뉴_상위 리스트 */
.dropbtn{
    border : none;
    background: none;
    font-weight: 400;
    cursor : pointer;
    transition: all 0.1s ease-in-out;
    font-size: 12pt;
  }
  .dropbtn:hover {
    color: #833e3e;
  }
  .dropdown{
    position : relative;
    display : inline-block;
    margin-right: 5%;
    cursor : pointer;
  }
  .dropdown:nth-last-child(1) {
    margin: 0;
  }
  
.dropdown-content{
  display : none;
  position : absolute;
  z-index : 1;
  font-weight: 500;
  background-color: #f9f9f9;
  border-radius: 5px;
  min-width : 150px;
  height: 170px;
  text-align: left;
}
.dropdown-content a{
  display : block;
  font-size: 10pt;
  padding: 0.55rem 0.875rem;
  font-weight: 400;
  letter-spacing: -0.02em;
}
.dropdown-content a:hover{
    background-color : #f0f0f0;
  }
.dropdown:hover .dropdown-content {
    display: block;
}

/* 유저 액션버튼 */
.navbar_act {
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navmenu_sign {
    width: 43%;
    display: flex;
    justify-content: space-around;
}
.navmenu_sign a{
    font-weight: 300;
    font-size: 0.9rem;
}
.navmenu_usermenu {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}
.navmenu_usermenu img{
    max-width: 80%;
}