@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
* { font-family: 'Noto Sans KR', sans-serif; }

body {
    /* background-color: rgb(33, 32, 41); */
}

a {
    color: #2C2C2C;
}

/* 헤더 메뉴 */
.navbar {
    width: 100%;
    padding: 1% 10%;
    
    background-color: #fff;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}

/* 로고 */
.navbar .navbar_logo {
    width: 10%;
}
.navbar .navbar_logo img {
    max-width: 60%;
}

/* 메인 메뉴 */
.navbar .navbar_menu {
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.navbar .navbar_menu li {
   margin-right: 5%; 
}
.navbar .navbar_menu a {
    transition: all 0.3 ease-in-out;
}
.navbar .navbar_menu a:hover {
    color: #795c5c;
}
.navbar .navbar_menu li:nth-last-child(1) {
    margin: 0;
}

/* 유저 액션버튼 */
.navbar .navbar_act {
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar .navbar_act .navmenu_sign {
    width: 45%;
    display: flex;
    justify-content: space-around;
}
.navbar .navbar_act .navmenu_sign a{
    font-weight: 300;
    font-size: 0.9rem;
}
.navbar .navbar_act .navmenu_usermenu {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}
.navbar .navbar_act .navmenu_usermenu img{
    max-width: 80%;
}